:root {
    --bg-color: rgb(238, 219, 183);
    --text-color: black;
    --btn-color: #7b1fa2;
    --moon-color: rgb(230, 183, 98);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.main-bg {
    background-color: var(--bg-color);
    color: var(--text-color);
    opacity: 1;
}

.main {
    width: 90%;
    margin: 0 auto;
    max-width: 768px;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
}