.footer {
    background: var(--btn-color);
    padding: 1rem;
    margin-top: 15px;
    text-align: center;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    img {
        width: 50px;
    }
}